@model IEnumerable<Coaching_Models.Cours>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion des cours</h2>
<hr />

@if (Session["coach_id"] != null)
{
    <p>
        @Html.ActionLink("Ajouter un Cours", "Create", "Cours")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Coach.Utilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adherents)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Coach.Utilisateur.Pseudo
            </td>
            <td>
                @item.Activite.Nom
            </td>
            <td>
                @item.Adresse.Nom
            </td>
            <td>
                @item.DateCours
            </td>
            <td>
                @item.Adherents.Count()
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Aperçu", "Details", new { id = item.Id }) |
                @Html.ActionLink("Effacer", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
