<!-- Header -->
<header id="header">
    <h1 id="logo"> <img src="~/Content/images/willCoachSoonLogo.png" height="80px" /> </h1>
    <nav id="nav">
        <ul>
            
            <li>@Html.ActionLink("Home", "", "Home")</li>
            <li>@Html.ActionLink("Ville", "Index", "Ville")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

            <li><a href="elements.html">Elements</a></li>
            @if (Session["user_id"] == null)
            {
                if (Session["logging"] != null)
                {
                    <li class="button primary">@Html.ActionLink("Inscription", "Create", "Utilisateurs")</li>
                }
                else
                {
                    <li class="button primary">@Html.ActionLink("Connexion", "Log", "Utilisateurs")</li>
                }
            }
            else
            {
                <li class="button primary">@Html.ActionLink("Deconnexion", "Logout", "Utilisateurs")</li>
            }
        </ul>
    </nav>
</header>