<!-- Header -->
<header id="header">
    <h1 id="logo"> <img src="~/Content/images/willCoachSoonLogo.png" height="80px" /> </h1>
    <nav id="nav">
        <ul>

            <li>@Html.ActionLink("Home", "", "Home")</li>
            <li>@Html.ActionLink("Ville", "Index", "Ville")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Coaches", "Index", "Coach")</li>


            @if (Session["user_id"] == null)
            {
                if (Session["logging"] != null)
                {
                    <li class="button primary">@Html.ActionLink("Inscription", "Create", "Utilisateurs")</li>
                }
                else
                {
                    <li class="button primary">@Html.ActionLink("Connexion", "Log", "Utilisateurs")</li>
                }
            }

            else
            {
                <li>@Html.ActionLink("Mon profil", "Details", "Utilisateurs", new { id = Session["user_id"] }, null)</li>
                if (Session["admin"] != null)
                {
                    <li>
                        Administration
                        <ul class="dropdown">
                            <li class="button primary">@Html.ActionLink("Gestion des Utilisateurs", "Index", "Utilisateurs")</li>
                            <li class="button primary">@Html.ActionLink("Gestion des Activités", "Index", "Activites")</li>
                            <li class="button primary">@Html.ActionLink("Gestion des Cours", "Index", "Cours")</li>
                        </ul>
                    </li>
                }
                <li>@Html.ActionLink("Community", "Index", "Communauté")</li>
                <li class="button primary">@Html.ActionLink("Deconnexion", "Logout", "Utilisateurs")</li>
            }
        </ul>
    </nav>
</header>