<html>
<head>

    <title> - Will-Coach-Soon - </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <noscript><link rel="stylesheet" href="~/Content/noscript.css" /></noscript>
    <link href="~/Content/StyleSheetCard.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/images/willCoachSoonLogo.png" />
</head>
<body class="is-preload landing">
    <div id="page-wrapper">

        @Html.Partial("_Header")

        <section id="one" class="wrapper style1 special fade-up" style="min-height:100vh">
            <div class="container">
                @RenderBody()
            </div>
        </section>

        <!-- Four -->
        <section id="four" class="wrapper style1 special fade-up">
            <div class="container">
                <header class="major">
                    <h2>Les points forts de Will-Coach-Son</h2>
                    <p>Nos équipes travail dure afin de faciliter vos prises de rendez vous et pour suivre votre évolution physique tel que vous le voulez. Notre service client reste a votre entiére disposition</p>
                </header>
                <div class="box alt">
                    <div class="row gtr-uniform">
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-chart-area"></span>
                            <h3>Une grande communauté</h3>
                            <p>Une communauté qui grandit de jour en jour. Entourer vous des meuilleurs</p>
                        </section>
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-comment"></span>
                            <h3>Un chatte ouvert</h3>
                            <p>De nombreuse fonctionnaliter sont disponible dans le chatte tel que les sessions personaliser des villes.</p>
                        </section>
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-flask"></span>
                            <h3>Suivi de vos séances</h3>
                            <p>Un accompagnement qui vous permetra de réaliser vos objectifs.</p>
                        </section>
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-paper-plane"></span>
                            <h3>Nos Coachs</h3>
                            <p>Nos coaches sont disponibles peut importe ou vous etes dans le creneau horaire qui vous arrange.</p>
                        </section>
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-file"></span>
                            <h3>Des activitées variées</h3>
                            <p>Diverse activiter proposer afin de répondre au besoin de nos sportif.</p>
                        </section>
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-lock"></span>
                            <h3>Un reseau sécuriser</h3>
                            <p>Nous ne conservons pas vos données personnel.</p>
                        </section>
                    </div>
                </div>
                <footer class="major">
                    <ul class="actions special">
                        
                    </ul>
                </footer>
            </div>
        </section>

        <!-- Five -->
        <section id="five" class="wrapper style2 special fade">
            <div class="container">
                <header>
                    <h2>Will-Coach-Son</h2>
                    <p>Nous vous remercions de nous avoir choisis nous ésperons satisfaire vos demandes</p>
                </header>
                
            </div>
        </section>

        @Html.Partial("_Footer")

    </div>

   

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @* @RenderSection("scripts", required: false)*@

</body>

</html>