@model IEnumerable<Coaching_Models.Cours>

@foreach (var item in Model)
{
    string src = "AllSportLogo.png";
    string filepath =item.Activite.Id + item.Activite.ImageUrl;
    if (!string.IsNullOrEmpty(item.Activite.ImageUrl) && File.Exists(Server.MapPath("~/Content/images/Activites/"+filepath))) { src = filepath; }

<article class="card">
    <div class="card-header">
         <img src="~/Content/images/Activites/@src" alt="ActImage"> 
    </div>
        <div class="card-body">
            <span class="tag tag-first">@item.Activite.Categorie.Nom</span>
            <h2>@item.Activite.Nom</h2>
            <h3> Coach : @Html.ActionLink(item.Coach.Utilisateur.Pseudo,"Details","Coaches", new { id = item.Coach.Id }, null)</h3>
            <p>@item.Activite.Descritption</p>
        </div>
        <div class="card-footer">
            <span class="price">@item.DateCours</span>
            <div class="btn-card">
                @if (item.Adherents.Where(u => u.Id == (int)Session["user_id"]).Count() == 0)
                {
                    @Html.ActionLink("Reserver", "Join", "Cours", new { id = item.Id }, new { @class = "button noselect" })
                }
                else
                {
                    @Html.ActionLink("Se désinscrire", "Leave", "Cours", new { id = item.Id }, new { @class = "button noselect" })
                }
            </div>
        </div>
    </article>
}
