@model IEnumerable<Coaching_Models.Cours>

@foreach (var item in Model)
{
    string src = "../../Content/images/AllSportLogo.png";
    if (!string.IsNullOrEmpty(item.Activite.ImageUrl) && File.Exists("../Content/images/" + item.Activite.ImageUrl)) { src = "../Content/images/" + item.Activite.ImageUrl; }

<article class="card">
    <div class="card-header">
         <img src=@src alt="ActImage"> 
    </div>
        <div class="card-body">
            <span class="tag tag-first">@item.Activite.Categorie.Nom</span>
            <h2>@item.Activite.Nom</h2>
            <h3> Coach : @Html.ActionLink(item.Coach.Utilisateur.Pseudo,"Details","Coaches", new { id = item.Coach.Id }, null)</h3>
            <p>@item.Activite.Descritption</p>
        </div>
        <div class="card-footer">
            <span class="price">@item.DateCours</span>
            <div class="btn-card">
                @Html.ActionLink("Reserver", "Details", "Utilisateurs", new { id = item.Id }, new { @class = "button noselect"})
            </div>
        </div>
    </article>
}
