@model IEnumerable<Coaching_Models.Cours>

@foreach (var item in Model)
{
    <article class="card">
        <div class="card-header">
            <img src=@item.Activite.ImageUrl alt="https://cdn.pixabay.com/photo/2016/11/19/18/06/feet-1840619_960_720.jpg">
        </div>
        <div class="card-body">
            <span class="tag tag-first">@item.Activite.Categorie.Nom</span>
            <h2>@item.Activite.Nom</h2>
            <h3>@item.Coach.Utilisateur.Pseudo</h3>
            <p>@item.Activite.Descritption</p>
        </div>
        <div class="card-footer">
            <span class="price">@item.DateCours</span>
            <div class="btn-card">
                <button type="button" name="button" class="noselect">Acheter</button>
            </div>
        </div>
    </article>
}
