@model IEnumerable<Coaching_Models.CategorieActivite>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion des categories</h2>
<hr />
<p>
    @Html.ActionLink("Ajouter Catégorie d'activité", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descritption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descritption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.ActionLink("Modifer", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Aperçu", "Details", new { id=item.Id }) |
            @Html.ActionLink("Effacer", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
