@model IEnumerable<Coaching_Models.Utilisateur>

@{
    ViewBag.Title = "Create";
}

<h2>Nouveau Coach</h2>
<h2>@ViewBag.Error</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row gtr-uniform gtr-50">
        <div class="col-6 col-12-xsmall">
                <input type="text" name="pseudo" placeholder="Pseudo" />
        </div>

        <div class="col-6 col-12-xsmall">
            <ul class="actions">
                <li><input type="submit" value="Rechercher" class="btn btn-default" /></li>
            </ul>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pseudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville.Nom)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pseudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville.Nom)
            </td>
            <td>
                @Html.ActionLink("+", "CreateCoach", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
