@model IEnumerable<Coaching_Models.Utilisateur>

@{
    ViewBag.Title = "Create";
}


<h2>Nouveau Coach</h2>
<h2>@ViewBag.Error</h2>


<div class="row gtr-uniform gtr-50">
    <div class="col-6 col-12-xsmall">
        <input type="text" name="pseudo" placeholder="Pseudo" onchange="buildTable(this.value)" onkeyup="buildTable(this.value)" />
    </div>
</div>

<hr />

<div id="table">

</div>

<script>
    function buildTable(pseudo = "") {
        let html = `
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pseudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville.Nom)
        </th>
        <th></th>
    </tr>`
        let json = @Html.Raw(Json.Encode(Model));
        for (var user of json) {
        if (user.Pseudo.includes(pseudo))
        {
            html += `
        <tr>
            <td>
                ${user.Pseudo}
            </td>
            <td>
                ${user.Mail}
            </td>
            <td>
                ${user.Ville.Nom}
            </td>
            <td>
            <a href="/Coaches/CreateCoach/${user.Id}">+</a>
            </td>
        </tr>`
        }
    }
    html +=`
</table>`
        document.querySelector("#table").innerHTML = html
    }
    buildTable()
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
