@model IEnumerable<Coaching_Models.Coach>

@{
    ViewBag.Title = "Index";
}

<h2>Les coaches</h2>

<div class="row gtr-uniform gtr-50">
    <div class="col-6 col-12-xsmall">
        <input type="text" name="" value="" placeholder="Coach" />
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" name="" value="" placeholder="Ville" />
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" name="" value="" placeholder="Activité" />
    </div>
    <div class="col-6 col-12-xsmall">
        <input type="text" name="" value="" placeholder="Date" />
    </div>
</div>

<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom Coach</th>
                <th>Prenom Coach</th>
                <th>Nombre De Cours Disponible</th>
                <th>Details</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                @{ int i = 1; }
                @foreach (var coach in Model)
                {
                    <td>@i</td>
                    <td>@coach.Utilisateur.Nom</td>
                    <td>@coach.Utilisateur.Prenom</td>
                    <td>@coach.CoursDispenses.Count()</td>

                    <td>@Html.ActionLink("Details", "Details", new { id = coach.Id })</td>
                    i++;

                }
            </tr>


        </tbody>

    </table>
</div>