@model Coaching_Models.RegisterForm

@{
    ViewBag.Title = "Inscription";
}

<h3>@ViewBag.Title</h3>
<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="row gtr-uniform gtr-50">
    <div class="col-6 col-12-xsmall">
        @Html.LabelFor(model => model.Pseudo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-6 col-12-xsmall">
            @Html.EditorFor(model => model.Pseudo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pseudo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-6 col-12-xsmall">
        @Html.LabelFor(model => model.MotDePasse, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-6 col-12-xsmall">
            @Html.EditorFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-6 col-12-xsmall">
        @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-6 col-12-xsmall">
        @Html.LabelFor(model => model.Ville, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Ville, (IEnumerable<SelectListItem>)ViewBag.SelectVille)
            @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-6 col-12-xsmall">
        <ul class="actions">
            <li><input type="submit" value="Create" class="btn btn-default" /></li>
            <li><input type="reset" value="Reset" /></li>
        </ul>
    </div>
</div>
}



