
@model Coaching_Models.Utilisateur

@{
    List<Coaching_Models.Cours> lstCours = new List<Coaching_Models.Cours>();
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pseudo)
        </dt>

        <dd>
            <div style="border: solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Pseudo)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>

        <dd>
            <div style="border:solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.MotDePasse)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            <div style="border:solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Nom)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            <div style="border:solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Prenom)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            <div style="border: solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Tel)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            <div style="border: solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Mail)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            <div style="border:solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Adresse)
            </div>
        </dd>



    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>#</th>
                <th>NomCoach</th>
                <th>PrenomCoach</th>
                <th>TelCoach</th>
                <th>MailCoach</th>
                <th>Cours</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (Coaching_Models.Cours cour in lstCours)
                {
                    <td>@cour.Id</td>
                    <td>@cour.Coach.Utilisateur.Nom</td>
                    <td>@cour.Coach.Utilisateur.Prenom</td>
                    <td>@cour.Coach.Utilisateur.Tel </td>
                    <td>@cour.Coach.Utilisateur.Mail</td>
                    <td>@cour.Activite.Nom</td>
                    <td>@cour.DateCours</td>

                }
            </tr>

        </tbody>
       
    </table>
</div>

