
@model Coaching_Models.Utilisateur

@{

    ViewBag.Title = "Details";
    string stringSource = "";

    if (Session["user_profile"] != null)
    {
        stringSource += Session["user_profile"];
    }
    else
    {
        stringSource += "noProfilImage.jpg";
    }

}



<h2>Mon Profil : </h2>

<div>
   
    <hr />


    <img style="width:300px;height:300px;  border-radius:5px" src="~/Content/images/@stringSource">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pseudo)
        </dt>

        <dd>
            <div style="border: solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Pseudo)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            <div style="border:solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Nom)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            <div style="border:solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Prenom)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            <div style="border: solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Tel)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            <div style="border: solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Mail)
            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            <div style="border:solid 1px rgba(255, 255, 255, 0.3); border-radius: 4px; text-align: center">
                @Html.DisplayFor(model => model.Adresse)
            </div>
        </dd>



    </dl>
</div>

<p>
    @Html.ActionLink("Changer la password", "changePassword", new { id = Model.Id })|
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>#</th>

                <th>Cours</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>

            @{ int i = 1; }
            @foreach (Coaching_Models.Cours cour in Model.CoursSuivis.OrderBy(cr => cr.DateCours))
            {
                <tr>
                    <td>@i</td>

                    <td>@cour.Activite.Nom</td>
                    <td>@cour.DateCours</td>
                </tr>
                i++;

            }


        </tbody>

    </table>
</div>

