@model IEnumerable<Coaching_Models.Utilisateur>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion des utilisateurs</h2>
<hr />

<p>
    @Html.ActionLink("Ajouter un Coach", "Create", "Coaches")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pseudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Pseudo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prenom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ville.Nom)
    </td>
    <td>

        @if ((int)Session["user_id"] == item.Id)
        {
            @Html.ActionLink("Editer", "Edit", new { id = item.Id })
        }
        @if ((int)Session["user_id"] == item.Id && (bool)Session["admin"])
        {
            <span> | </span>
        }
        @if ((bool)Session["admin"])
        {
            if (item.Admin) { @Html.ActionLink("Supprimer Droits Admin", "AdminState", new { id = item.Id })}
            else { @Html.ActionLink("Donner Droits Admin", "AdminState", new { id = item.Id })}
            <span> | </span>
            @Html.ActionLink("Effacer", "Delete", new { id = item.Id })
        }
    </td>
</tr>
}

</table>
