@model Coaching_Models.GroupeChat

<ul id="chat">


    @foreach (Coaching_Models.Message item in Model.ChatMessages)
    {


        if (@item.Utilisateur != Session["user_id"])
        {

            <li class="you">
                <div class="entete">
                    <span class="status green"></span>
                    <h2>@item.Utilisateur.Pseudo</h2>
                    <h3>@item.Date</h3>
                </div>
                <div class="triangle"></div>
                <div class="message">
                    @item.MessageText
                </div>
            </li>

        }

        else
        {


            <li class="me">
                <div class="entete">
                    <h3>@item.Date</h3>
                    <h2>@item.Utilisateur.Pseudo</h2>
                    <span class="status blue"></span>
                </div>
                <div class="triangle"></div>
                <div class="message">
                    @item.MessageText
                </div>
            </li>

        }
    }
</ul>