

@model Coaching_Models.ViewModelChatGroupMessages.ViewModelChatGroupMessages


@{ 
    Coaching_Models.GroupeChat groupeChat = new Coaching_Models.GroupeChat();
    if (ViewBag.Groupe != null)
    {
        groupeChat = ViewBag.Groupe;
    }
}

<link href="~/Content/ChatStyle.css" rel="stylesheet" />



@using (Html.BeginForm("_Chat","Communauté",FormMethod.Post))
{

    <div id="containerChat">
        <aside>

            <ul>


                @foreach (Coaching_Models.GroupeChat item in ViewBag.GroupeChats)



                {


                    foreach (Coaching_Models.Utilisateur item1 in item.Membres)
                    {

                        if (item1.Id == (int)Session["user_id"])
                        {


                            string backgroundColorLi = null;
                            string backgroundColorh2 = null;
                            if (item.Id == groupeChat.Id)
                            {

                                backgroundColorLi = "box-shadow: inset 0 0 0 1px #e44c65";
                                backgroundColorh2 = "color:#e44c65";
                            }

                                <li style="@backgroundColorLi">

                                    <div>
                                        <h2 style="@backgroundColorh2">   @Html.ActionLink(item.Nom, "Index", new { id = item.Id })</h2>



                                        <h3>
                                            <span class="status green"></span>
                                            @item.Membres.Count() participants

                                        </h3>

                                    </div>
                                  
                                </li>
                            }
                        }
                    }



                    <li>
                        <div>
                            <p>
                                @Html.ActionLink("Ajouter un chat", "CreateNewChat", "Communauté")
                                <br />
                                +
                            </p>
                        </div>

                    </li>
                    <li>
                        <div>
                            <p>
                                @Html.ActionLink("Rejoindre un chat", "JoinAchat", "Communauté")
                                <br />
                                +
                            </p>
                        </div>

                    </li>

                </ul>
        </aside>
        <main>

            @if (ViewBag.Groupe != null)
            {
            <div id="chatcontainer">
                @Html.Partial("_Chat", groupeChat)
            </div>
                <footer>
                    <input type="hidden" name="groupeChats" value=@groupeChat.Id />
                    @Html.TextAreaFor(model => model.messages.MessageText, htmlAttributes: new { @class = "control-label col-md-2"})
                    Connected as:  @ViewBag.userName <a><input type="submit" value="Send" class="btn primary" /></a>
                     v
                </footer>
            }
            else
            {
                <h2>Veuillez choisir un chat</h2>
            }


            <script>
                document.forms[0].onsubmit = () => {
                    let formData = new FormData(document.forms[0]);
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {
                            document.querySelector("#chatcontainer").innerHTML = "<header>" + xhr.responseText.split("<header>")[1].split("</ul>")[0]
                            document.querySelector("#chat").scrollTop = document.querySelector("#chat").scrollHeight;
                            document.querySelector("textarea").value = "";
                        }
                    };
                    xhr.open('post', '/Communauté/_Chat', true);
                    xhr.send(new URLSearchParams(formData));
                    return false;
                };
            </script>
        </main>

        <div style="background-color: red; height: 200px; width: 200px; display: inline-block;">
            <ul>
                <li>

                </li>
            </ul>

        </div>


    </div>
                  
    
}
<script>

    var objDiv = document.getElementById("chat");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>