

@model Coaching_Models.ViewModelChatGroupMessages.ViewModelChatGroupMessages


@{ 
    Coaching_Models.GroupeChat groupeChat = new Coaching_Models.GroupeChat();
    if (ViewBag.Groupe != null)
    {
        groupeChat = ViewBag.Groupe;
    }
}

<link href="~/Content/ChatStyle.css" rel="stylesheet" />


@using (Html.BeginForm())
{

    <div id="containerChat">
        <aside>

            <ul>


                @foreach (Coaching_Models.GroupeChat item in ViewBag.GroupeChats)



                {


                    foreach (Coaching_Models.Utilisateur item1 in item.Membres)
                    {

                        if (item1.Id == (int)Session["user_id"])
                        {
                    <li>

                        <div>
                            <h2>   @Html.ActionLink(item.Nom, "Index", new { id = item.Id })</h2>



                            <h3>
                                <span class="status green"></span>
                                @item.Membres.Count() participants

                            </h3>

                        </div>

                    </li>
                        }
                    }
                }

                

                <li>
                    <div>
                        <p>
                            @Html.ActionLink("Ajouter un chat", "CreateNewChat", "Communauté")
                            <br />
                            +
                        </p>
                    </div>

                </li>
                <li>
                    <div>
                        <p>
                            @Html.ActionLink("Rejoindre un chat", "JoinAchat", "Communauté")
                            <br />
                            +
                        </p>
                    </div>

                </li>

            </ul>
        </aside>
        <main>

            @if (ViewBag.Groupe != null)
            {
                @Html.Partial("_Chat", groupeChat)
                <footer>
                    <input type="hidden" name="groupeChats" value=@groupeChat.Id />
                    @Html.TextAreaFor(model => model.messages.MessageText, htmlAttributes: new { @class = "control-label col-md-2" })
                    Connected as:  @ViewBag.userName <a><input type="submit" value="Send" class="btn primary" /></a>
                   
                </footer>
            }
            else
            {
                <h2>Veuillez choisir un chat</h2>
            }


        </main>
    </div>
                   
}